---
import Base from "../layouts/Base.astro";
import info from "../../package.json";
import Grid from 'tui-grid';
---

<Base>
	<div class="position-relative h-full w-full flex flex-col">
		<header class="flex-[0_0_16px] w-full text-center border-b">상품코드 Mapping Tool v{info.version}</header>
		<section class="flex-[1_0_0]">

		</section>
		<footer class="flex-[0_0_16px] w-full text-center border-t">Powered by Astro, UnoCSS</footer>
	</div>
</Base>

