---
---

<!doctype html>
<html lang="ko">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/wan2land/d2coding/d2coding-full.css"/>
    </head>
    <body class="font-400 font-size-[16px] font-[D2Coding,monospace_!important] fixed top-0 right-0 bottom-0 left-0">
        <slot/>
    </body>
</html>